In [ ]:
#A loop is a block of code that executes a code a number of times or until some condition is met. 
#Python has two kinds of loops; (While loops and For loops).

In [2]:
x = 1
while x < 5:
    print(x)
    x = x + 1
    #If you run a program that enters an infinite loop, you can force Python to quit by pressing Ctrl + C

1
2
3
4

In [1]:
num = float(input("enter a positive number : "))
while num <= 0:
    print("That's not a positive number amore!")

In [2]:
#The for statement begins with the for keyword, followed by amembership expression, and ends in a colon (:).
# Each line is indented four spaces.
for letter in "Racheal":
    print(letter)

R
a
c
h
e
a
l

In [4]:
for n in range(3):
    print("racheal")

racheal
racheal
racheal

In [5]:
for n in range(12, 18):
    print(n * n)

144
169
196
225
256
289

In [7]:
amount = float(input("Enter an amount: "))
for num_people in range(2, 6):
 print(f"{num_people} people: £{amount / num_people:,.2f} each")

2 people: £250.00 each
3 people: £166.67 each
4 people: £125.00 each
5 people: £100.00 each

In [8]:
for x in range(2, 5):
    for y in range(4, 6):
        print(f"x = {x} and y = {y}")

x = 2 and y = 4
x = 2 and y = 5
x = 3 and y = 4
x = 3 and y = 5
x = 4 and y = 4
x = 4 and y = 5