In [1]:
num = "2"
num + num

'22'

In [2]:
num = "12"
num * 3

'121212'

In [3]:
#To convert from a string type to a number type, use the int() or float () functions.
#floating numbers float () always adds a decimal to the number
float(123)

123.0

In [4]:
int(25)

25

In [5]:
num = input("Enter a number to be doubled: ")
doubled_num = float(5) * 2
print(doubled_num)

10.0

In [12]:
#you can’t concatenate number with strings. To build strings with number you need to convert
# the number to string using the it with the str() function
num_of_potpies = 10
"I am going to eat " + str(num_of_potpies) + " potpies."

'I am going to eat 10 potpies.'

In [45]:
total_orange_juice = 50
total_orange_juice_left = 35
"Jibbs only drank " + str(total_orange_juice - total_orange_juice_left) + " bottles of orange juice."

'Jibbs only drank 15 bottles of orange juice.'

In [21]:
#String interpolation
Heads = 2
Hands = 4
"Funsho has " +  str(Heads) + " heads and " + str(Hands) + " hands."

'Funsho has 2 heads and 4 hands.'

In [24]:
#f strings is a better way to interploate strings cleanly
#f strings (formated string laterals)
Heads = 2
Hands = 4
f"Funsho has {Heads} heads and {Hands} hands."

'Funsho has 2 heads and 4 hands.'

In [25]:
n = 5
w = 12
f"{n*w}"

'60'

In [35]:
#Create a float object named weight with the value 0.2, and create a string object named animal 
# with the value "newt". Then use these objects to print the following string using only string 
# concatenation
weight = float (0.2)
animal = "newt"
str(weight) + " kg is the weight of the " + (animal)

'0.2 kg is the weight of the newt'

In [36]:
#using and f-string
f"{weight} is the weight of the {animal}"

'0.2 is the weight of the newt'

In [ ]:
#you can find a the location of a substring inside a string using the .find() function
#if the substring is not n the phrase, python gives a -1 response.
Phrase = "Edet lives in Calabar, he is eight years old, everyday he goes to school."
Phrase.find("everyday")

46

In [43]:
Phrase = "We can put a string in a string"
Phrase.find("string")

13

In [44]:
#the .find() function can only locate strings and not integers.
#to find an integer 
"My number is 555-555-5555".find("5")

13

In [47]:
my_story = "I'm telling you the truth; nothing but the truth!"
my_story.replace("the truth", "lies")

"I'm telling you lies; nothing but lies!"

In [48]:
my_story = my_story.replace("the truth", "lies")
my_story

"I'm telling you lies; nothing but lies!"

In [49]:
Text = "Some people you meet are wonderful and great"
New_text = Text.replace("Some people", "Everyone")
New_text = New_text.replace("wonderful", "friendly")
New_text

'Everyone you meet are friendly and great'

In [50]:
type(1)

int

In [51]:
type(2.0)

float

In [52]:
float("2.20")

2.2

In [53]:
#exponential notation
1e6

1000000.0

In [54]:
#you can also write a float literal in E notation. e.g. 1e6 = 1 x 10`6 and 2e8 = 2x10'8
1e6

1000000.0

In [55]:
2e10

20000000000.0

In [57]:
6e+5

600000.0

In [ ]:
# E notation can also create floats in the negative
1e-4

0.0001

In [58]:
#the two number son either sides of + are known as OPERANDS
2 + 3

5

In [59]:
5.0 + 6

11.0

In [60]:
6 - 3

3

In [62]:
4 - -1

5

In [61]:
5*8

40

In [63]:
9/3

3.0

In [64]:
#To return an integer even when the correct answer is a float use the int() function
int(7.0/2)

3

In [ ]:
#To make the above even more easier, use the floor division operator(//) 
7.0//2

3.0

In [ ]:
#you can raise a number to a power using (**) operator or the pow()
5**2

25

In [67]:
#The % operator, or modulus, returns the remainder of dividing the left operand by the right operand
7%2

1

In [68]:
Base = 5
Exp = 3
Base**Exp

125

In [ ]:
#Other math fucntions include; round(), for rounding numbers; abs(), for getting the absolute value 
# of a number; and pow(), for raising a number to some power, same as the (**).
round(95.679037)

96

In [70]:
#To round of to a certain decimal place
round(64.435812398633, 6)

64.435812

In [71]:
#abs value
abs(25) , abs(-45)

(25, 45)

In [72]:
x = 2
y = 5
z = 12
pow(x, y, z)

8

In [ ]:
# The .is_integer() method can be useful for validating user input.
num = 234.57
num.is_integer()

False

In [2]:
n = 73.125
f"The value of n is {n}"

'The value of n is 73.125'

In [10]:
#use this {n:.2f}alongside f-string to format the value of n to 2 decimal place
#and {n:.1f} to 1 decimal place
n = 12.5684902
f"The value of n is {n:.2f}" , f"The value of n is {n:.1f}"

('The value of n is 12.57', 'The value of n is 12.6')

In [11]:
#you can use the f"The value of n is {n:,}", to group numbers by the thousands by adding commas(,)
n = 89354801536946
f"The value of n is {n:,}"

'The value of n is 89,354,801,536,946'

In [13]:
#use this f"The value of n is {n:,.2f}", to group by thousands and format to 2 decimal place
n = 24568.6790
f"The value of n is {n:,.2f}"

'The value of n is 24,568.68'

In [18]:
#Example 
balance = 2000.0
spent = 256.35
remaining = balance - spent
f"I started the day with £{balance:.3f}, spent £{spent:.3f} , and had £{remaining:.3f} left at the end of the day."

'I started the day with £2000.000, spent £256.350 , and had £1743.650 left at the end of the day.'

In [21]:
# use f"Over {ratio:.2%} to display percentage with 2 decimal places
ratio = 0.26
f"Over {ratio:.2%} of people in the world are left handed."

'Over 26.00% of people in the world are left handed.'

In [22]:
#complex number (real and imaginary number)
n = 1 + 2j
n

(1+2j)

In [ ]:
n.real, n.imag  #so, based on the above, real number is 1, and the imaginary number is 2

(1.0, 2.0)

In [27]:
n.conjugate() #with complex number (real and imaginary), n.conjugate()returns the 
#exact number but with a differnt sign

(1-2j)

In [28]:
a = 1 + 2j
b = 3 - 4j
a + b , a - b , a * b , a ** b , a / b

((4-2j), (-2+6j), (11+2j), (932.1391946432212+95.9465336603415j), (-0.2+0.4j))