In [1]:
num = "2"
num + num

'22'

In [2]:
num = "12"
num * 3

'121212'

In [3]:
#To convert from a string type to a number type, use the int() or float () functions.
#floating numbers float () always adds a decimal to the number
float(123)

123.0

In [4]:
int(25)

25

In [5]:
num = input("Enter a number to be doubled: ")
doubled_num = float(5) * 2
print(doubled_num)

10.0

In [12]:
#you canâ€™t concatenate number with strings. To build strings with number you need to convert
# the number to string using the it with the str() function
num_of_potpies = 10
"I am going to eat " + str(num_of_potpies) + " potpies."

'I am going to eat 10 potpies.'

In [13]:
total_orange_juice = 50
total_orange_juice_left = 35
"Jibbs only drank " + str(total_orange_juice - total_orange_juice_left) + " bottles of orange juices."

'Jibbs only drank 15 bottles of orange juices.'

In [21]:
#String interpolation
Heads = 2
Hands = 4
"Funsho has " +  str(Heads) + " heads and " + str(Hands) + " hands."

'Funsho has 2 heads and 4 hands.'

In [24]:
#f strings is a better way to interploate strings cleanly
#f strings (formated string laterals)
Heads = 2
Hands = 4
f"Funsho has {Heads} heads and {Hands} hands."

'Funsho has 2 heads and 4 hands.'

In [25]:
n = 5
w = 12
f"{n*w}"

'60'

In [32]:
#Create a float object named weight with the value 0.2, and create a string object named animal 
# with the value "newt". Then use these objects to print the following string using only string 
# concatenation
weight = float (0.2)
animal = "newt"
str(weight) + " kg is the weight of the " + (animal)

'0.2 kg is the weight of the newt'