# Strings

In [68]:
string1 = 'This is a string'
string2 = 'This is also a string'

In [69]:
print(string2)
print(string1)

This is also a string
This is a string

In [70]:
type("Hello, World")

str

In [71]:
string1 = 'Hello, World'
string2 = "1234"
string3 = "We're #1!"
string4 = 'I said "put it over by Ilama"'
#you can either have single quotes (string1) or double quote (string2) to create a string
#long as you use the same type at the beginning and end of the string.

In [72]:
#use len to call the length of a string. Example
len("abc")

#OR

letters = 'abc'
len(letters)

3

In [2]:
#Multi line strings
#python code recommends that a string only contain 79 characters; space inclusive.
#to create string literals that are longer than the prescribed limit you need to break them up using a backslash(\)

#Example

paragraph =  "One example is osteoporosis, which was officially recognized as a disease\by WHO in 1994, being previously considered as unavoidable part of normal ageing.\Disease, for practical purposes however, can be defined as any abnormality or failure of the body\
to function properly that may require medical treatment.\Pathology is the scientific study of diseases. Health, therefore,  can be defined as\the absence of signs and symptoms associated with any disease."

long_string = "paragraph"
print("long_string")

#you can also create a multi line string using triple double quotes or triple single quotes (""" or '''). This would preserve whitelines
#and would display the string on multiple lines, just as it appears in the string literal.

#Example
paragraph1 = """One example is osteoporosis, which was officially recognized as a disease by WHO in 1994, 
being previously considered as unavoidable part of normal ageing. Disease, for practical purposes however,
can be defined as any abnormality or failure of the body to function properly that may require medical 
treatment. Pathology is the scientific study of diseases. Health, therefore,  can be defined as the 
absence of signs and symptoms associated with any disease."""
print(paragraph1)

long_string
One example is osteoporosis, which was officially recognized as a disease by WHO in 1994,
being previously considered as unavoidable part of normal ageing. Disease, for practical purposes however,
can be defined as any abnormality or failure of the body to function properly that may require medical
treatment. Pathology is the scientific study of diseases. Health, therefore,  can be defined as the
absence of signs and symptoms associated with any disease.

<>:7: SyntaxWarning: invalid escape sequence '\D'
<>:7: SyntaxWarning: invalid escape sequence '\D'
C:\Users\pc\AppData\Local\Temp\ipykernel_33696\2632619082.py:7: SyntaxWarning: invalid escape sequence '\D'
  paragraph =  "One example is osteoporosis, which was officially recognized as a disease\by WHO in 1994, being previously considered as unavoidable part of normal ageing.\Disease, for practical purposes however, can be defined as any abnormality or failure of the body\

In [74]:
#Concatenation involves joining two or more strings. It is done using the (+) operator

string1 = "abra"
string2 = "cadabra"
magic_string = string1 + string2
magic_string

#another example
first_name = "Racheal"
middle_name = "Ebosereme"
last_name = "Orianele"
full_name = first_name + " " + middle_name + " " + last_name
full_name

'Racheal Ebosereme Orianele'

In [82]:
first_name = "Racheal"
middle_name = "Ebosereme"
last_name = "Orianele"
full_name = f"{first_name} {middle_name} {last_name}"
full_name

'Racheal Ebosereme Orianele'

In [75]:
#string indexing (every character in a string has an index, starting from 0)
#to call the index of a charcter in a string you need to put the number between [square brackets]
flavor = "vanilla"
flavor[4]

'l'

In [76]:
#indexing can also be in the negative; starting from behind
flavor = "vanilla"
flavor[-4]

'i'

In [ ]:
#string slicing
#You can extract a portion of a string aka Substring by inserting a colon 
# between the 2 index number and placing them in sqaure brackets [1:3]
flavor = "vanilla"
flavor[0:4]
#you can also omit the first index when slicing strings, so
flavor[:4] #will also give the same answer as flavor[0:4]

#During slicing, think of a string as a sequence of square slots, with left and right boundaries
# also numbered sequentially from 0 up to the length of the string. Each slot also has a character
# in the string. e.g "vanilla"

'vani'

In [10]:
#Slicing (contd)
#Similarly, if you omit the second index in the slice [3:], Python assumes you want to return the 
# substring that begins with the character whose index is the first number in the slice.
flavor = "vanilla"
flavor[3:] #is the same as flavor[3:7] and flavor [3:9]

'illa'

In [11]:
#slicing contd
#omitting both numbers in the slice returns the entire string
flavor = "vanilla"
flavor[:]

'vanilla'

In [ ]:
#Empty string
#it is created by two empty quotation mark ""
#a string is not empty even if it contains only a space.
# " " - is not an empty string

In [19]:
#You can use negative numbers in string slicing. #using 0 in the slice on the rightmost boundary
#will return an empty string. The best option is to omit the second index in your slice.
flavor = "vanilla"
flavor[-8:] #flavour[-8:] will give you the entire string

'vanilla'

In [ ]:
#Strings are immutable. To alter a string, you must create an entirely new string.
# Example
Word = "till"  #to alter this, you can concatenate
Word = "h"+Word[1:]
Word

'hill'

In [36]:
#Conversting string case
#lowercase
"RAYCHIELLE PLEROMA".lower()

'raychielle pleroma'

In [37]:
#uppercase
"raychielle pleroma".upper()

'RAYCHIELLE PLEROMA'

In [1]:
print( '$100 $200 $300'.count("$"),
    '$100 $200 $300'.count("$", 5, 10),
    '$100 $200 $300'.count("$", 5))

3 1 2

In [77]:
#Variables
    #assigns a value that can be used throughout your code
    #variables can be long or short
    #they may contain Upper case, lowercase, digits, underscore
    #they cannot start with a digit

greeting = "Hello, World"
print(greeting)

Hello, World

In [78]:
x = 2
y = '2'
print(x)
print(y)

2
2

In [79]:
#This is a block comment
greeting = "Hello, World"
print(greeting) #This is an inline comment

Hello, World